/node_modules
/public/hot
public/hot
/public/storage
public/storage
storage/*.key
/storage/*.key
/storage
/vendor
/vendor/
.env
.env.backup
.idea
/.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/database.php
serve.bat
composer.lock
package-lock.json
package.json
